%main.container.general-main-wrap
  .text-center
    %h3.general-login-title= t('.sign_up')
    %a.general-login-icon{href: user_facebook_omniauth_authorize_path}
      %i.fa.fa-facebook-official
    %p.general-login-text or
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "general-form"}) do |f|
    = devise_error_messages!
    .form-group.mb-30
      %label.control-label.font-weight-light{for: "user_email"}= t('.enter_email')
      = f.email_field :email, autofocus: true, class: "form-control", type: "email", placeholder: t('.enter_email')
    .form-group.mb-30
      %label.control-label.font-weight-light{for: "user_password"}= t('.password')
      = f.password_field :password, autocomplete: "off", class: "form-control", type: "password", placeholder: t('.password')
    .form-group.mb-30
      %label.control-label.font-weight-light{for: "user_password_confirmation"}= t('.confirm_password')
      = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", type: "password", placeholder: t('.confirm_password')
    .text-center
      = f.submit t('.sign_up'), class: 'btn btn-default mb-20'
  %p.general-sign-text.text-center
    = t('.have_account')
    =link_to t('.log_in'), new_session_path(resource_name), class: 'in-gold-500'
