%main.container
  .text-center
    %h1.mb-30= t('.forgot_password')
    %p.general-password-text= t('.forgot_password_msg')
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'general-form' }) do |f|
    = devise_error_messages!
    .form-group.mb-25
      = f.email_field :email, autofocus: true, type: "email", placeholder: t('.enter_your_email'), class: 'form-control'
    = f.submit t('.email_instructions'), class: 'btn btn-default center-block mb-20'
    .text-center
      %a.in-gold-500.mb-20{href: url_for(:back)}= t('.cancel')
