%main.container
  %a.general-back-link{href: url_for(:back)}
    %i.fa.fa-long-arrow-left.mr-15
    Back to results
  .row
    .col-sm-6
      .product-gallery
        .mb-20#img_container
          %img.img-responsive{src: presenter.product.product_pictures(1).first.image_path}
        .images.clearfix
          - presenter.product.product_pictures.each do |picture|
            %a.img-link{href: "#"}
              %img.width-full.height-preview{src: picture.image_path}
    .col-sm-6
      %h1.mt-res-0= presenter.product.title
      %p.in-grey-600.small= presenter.product.all_authors
      .row
        .col-xs-12.col-md-4
          %p.h1.in-gold-500.mt-10= number_to_currency(presenter.product.price_value, unit: '€')
        // = form_tag products_path(presenter.product.id) do |f|
        //   = fields_for 'order_item', presenter.product do |field_item|
        //     .col-xs-5.col-md-3
        //       .input-group.general-position
        //         %a.input-link{href: "#"}
        //           %i.fa.fa-minus.line-height-40
        //         = field_item.hidden_field :product_id, value: presenter.product.id
        //         = field_item.text_field :quantity, type: "text", class: 'form-control quantity-input', min: 1, value: 1
        //         %a.input-link{href: "#"}
        //           %i.fa.fa-plus.line-height-40
        = form_tag engine_cart.cart_path,  method: :put do |f|
          = fields_for 'order_item', presenter.order_item do |field_item|
            .col-xs-5.col-md-3
              .input-group.general-position
                %a.input-link{href: "#"}
                  %i.fa.fa-minus.line-height-40
                = field_item.hidden_field :product_id, value: presenter.product.id
                = field_item.text_field :quantity, type: "text", class: 'form-control quantity-input', min: 1, value: 1
                %a.input-link{href: "#"}
                  %i.fa.fa-plus.line-height-40
          .col-xs-7.col-md-5
            = submit_tag "Add to Cart", class: 'btn btn-default pull-right general-position'
      .card
        %p Description
        %p.in-grey-600.small.line-height-2.shorten-description
          = presenter.product.description
      .card
        .clearfix
          %p.general-item-info.pull-right= presenter.product.property_value('Year of publication')

          %p.break-word Year of publication
      .card
        .clearfix
          %p.general-item-info.pull-right= presenter.product.dimensions
          %p.break-word Dimensions
      .card
        .clearfix
          %p.general-item-info.pull-right= presenter.product.property_value('Materials')
          %p.break-word Materials
  = render 'reviews/show_review'
  = render 'reviews/form_review'